<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.novotec.formmanager">

    <!-- Permisos de usuario -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />

    <meta-data
        android:name="com.google.android.gms.vision.DEPENDENCIES"
        android:value="barcode" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icono"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:label="kikevila.noip.me:8085">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "http://kikevila.noip.me:8085/forms/" -->
                <data android:scheme="http"
                    android:host="kikevila.noip.me:8085"
                    android:pathPrefix="/forms" />
                <data android:scheme="jvilam"
                    android:host="formmanager" />
                <data android:scheme="http"
                    android:host="www.quiquevila.es"
                    android:pathPrefix="/forms" />
                <data android:scheme="Gestor de formularios"
                    android:host="formmanager" />
                <data android:scheme="formularios"
                    android:host="formmanager" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PrefsActivity"
            android:configChanges="orientation"
            android:label="@string/settings_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".forms.SingleAnswerActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_single_answer"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/. 
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".forms.MapAnswerActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_map_answer"
            android:screenOrientation="portrait" />
        <!-- En la actividad de foto se añaden atributos para que no se pierda la foto con el cambio de orientación -->
        <activity
            android:name=".forms.PhotoAnswerActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/title_activity_photo_answer"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <!--
         ATTENTION: This was auto-generated to add Google Play services to your project for
         App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".forms.MultipleChoiceAnswerActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_multiple_choice_answer"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".forms.TextAnswerActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_text_answer"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".formsDesigner.NameAndDescriptionDesignActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_name_and_description_design"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".formsDesigner.SelectQuestionTypeActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_select_question_type"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".formsDesigner.OnlyQuestionTextActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_only_question_text"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".formsDesigner.QuestionTextAndAnswersActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_question_text_and_answers"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".forms.SelectFormActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_select_form"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".formManagement.DeleteFormActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_delete_form"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".formManagement.ReviewFormActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_review_form"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".forms.BarCodeAnswerActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_bar_code_answer"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".synchronization.SyncActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".synchronization.SelectSyncDesignFormActivity"
            android:label="@string/title_activity_select_sync_design_form"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>